*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

.menu {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

.details header {
  text-align: left;
  margin: 0;
}

.list-index {
  height: 82%;
  overflow-x: hidden;
}

.list-index li {
  border-top: 1px solid;
  list-style: none;
}

.list-index a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

.details {
  position: absolute;
  top: 0;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

.details article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

.details ul {
  margin-bottom: 1rem;
}

.details li {
  margin-bottom: 1rem;
  margin-left: 4rem;
}

.child-list li {
  margin-left: 8rem;
}

.details p {
  margin-bottom: 1rem;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  .list-index {
    border: 1px solid;
    height: 207px;
    border-bottom: 2px solid;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 275px;
    border: none;
  }

  .details {
    position: relative;
    margin-left: 0;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  .details {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    padding: 15px 10px 15px 45px;
    width: 100%;
    min-width: 233px;
  }
}
